[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = https://github.com/KKKZOZ/hugo-admonitions.git
